body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.summaryCard {
  margin-top: 10px;
  background: #90A4AE;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  max-width: 1000px;
  min-width: 500px;
}

.title {
  background: #F5F5F5;
  text-align: right;
  padding: 7px;
}

.value {
  background: white;
  text-align: left;
}

.mainColumn {
  margin-left: 3px;
  margin-right: 3px;
}